blinker     
chardet     
click       
colorama   
Flask  
Flask-WTF  
gunicorn    
itsdangerous 
Jinja2      
MarkupSafe  
packaging   
pillow     
pip          
PyPDF2    
reportlab   
Werkzeug   
WTForms     